
body{
	background-color: black;	
}
#container{
	width:600px;
	height:500px;
}

.brick{
	display:inline-block;
	width:50px;
	height:17px;
	position:absolute;
}
.brown{
	background-color: brown;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}

#paddle{
	border:2px solid silver;
	border-radius: 3px;
	display:inline-block;
	width:70px;
	height:5px;
	position:absolute;
}
#ball{
	border:2px solid silver;
	border-radius: 7px;
	background-color:white;
	display:inline-block;
	width:7px;
	height:7px;
	position:absolute;
	top:300px;
	left:280px;
}